.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #000;
}

.content {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 300px;
  border-radius: 4px;
  background-color: #ddd;
}

.heading {
  text-align: center;
}

.main {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.main-img img{
  display: block;
  width: 120px;
  margin-right: -30px;
}

.main-temp {
  font-weight: bold;
}

.temp-value {
  font-size: 60px;
}

.temp-unit {
  vertical-align: top;
  display: inline-block;
  font-size: 30px;
  margin-top: 6px;
}

.detail {
  display: flex;
  justify-content: space-around;
  text-align: center;
  border:  1px solid #aaa;
  padding: 10px;
  border-radius: 8px;
  margin-top: 20px;
}

.detail-info {
  flex: 1;
}

.detail-info ~ .detail-info {
  border-left: 1px solid #aaa;
}